.main-contents__middle-contents__message
  .main-contents__middle-contents__message__info
    .main-contents__middle-contents__message__info__username
      test-user
    .main-contents__middle-contents__message__info__timestamp
      2019/9/15
  .main-contents__middle-contents__message__text
    test message<br>
    test message<br>
    test message