* {
    box-sizing: border-box;
}

.left-contents {
    height: 100vh;
    width: 300px;
    background-color: #2f3e51;
    float: left;
    color: white;
    &__top-bar {
        height: 100px;
        background-color: #253141;
        &__username {
            width: 260px;
            height: 22px;
            position: relative;
            left: 20px;
            top: 40px;
            font-size: 16px;
            font-weight: bold;
        }
        &__button {
            color: white;
            position: relative;
            left: 243px;
            top: 20px;
            text-decoration: none;
        }
        &__button--right {
            color: white;
            position: relative;
            left: 245px;
            top: 20px;
            text-decoration: none;
        }
    }
    &__main-bar {
        width: 260px;
        height: calc(100vh - 100px);
        padding: 20px 0 0 20px;
        overflow: auto;
        &__group {
            text-decoration: none;
            &__group-name {
                font-size: 20px;
                margin-bottom: 5px;
                color: white;
            }
            &__comment {
                font-size: 11px;
                color: white;
                margin-bottom: 40px;
            }
        }
    }
}

.main-contents {
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: white;
    float: right;
    position: relative;
    &__top-contents {
        height: 100px;
        width: calc(100vw - 300px);
        border-bottom: solid 1px #eeeeee;
        &__group-info {
            height: 47px;
            float: left;
            position: relative;
            top: 35px;
            left: 40px;
            &__group-name {
                font-size: 20px;
                color: #333333;
            }
            &__members {
                font-size: 12px;
                color: $gray;
                margin-top: 15px;
            }
        }
        &__edit-button {
            line-height: 40px;
            padding: 0 20px;
            margin: 28px 40px 0 0;
            float: right;
            border: solid 1px $accent;
            color: $accent;
        }
    }
    &__middle-contents {
        height: calc(100vh - 276px);
        margin: 46px 40px 40px 40px;
        overflow: auto;
        &__message {
            margin-bottom: 40px;
            &__info {
                margin-bottom: 10px;
                &__username {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 16px;
                    color: $dark;
                    float: left;
                }
                &__timestamp {
                    font-size: 12px;
                    line-height: 12px;
                    color: $gray;
                    float: left;
                    margin-left: 10px;
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            &__text {
                color: $dark;
                font-size: 14px;
            }
        }
    }
    &__bottom-contents {
        height: 90px;
        width: calc(100vw - 300px);
        position: absolute;
        bottom: 0;
        background-color: #ddd;
        &__content {
            height: 70px;
            width: calc(100vw - 455px);
            float: left;
            &__message-form {
                margin-top: 20px;
                margin-left: 40px;
                background-color: white;
                &__text {
                    width: calc(100vw - 495px);
                    line-height: 50px;
                    border: none;
                    &::placeholder {
                        font-size: 16px;
                        color: $dark;
                        padding-left: 10px;
                    }
                }
                &__image {
                    float: right;
                    z-index: 1;
                    padding: 0 10px 0 0;
                    position: relative;
                    bottom: 37px;
                    &__select {
                        display: none;
                    }
                }
            }
        }
        &__send-button {
            height: 50px;
            width: 100px;
            margin: 20px 40px 20px 15px;
            background-color: $accent;
            color: white;
            font-size: 16px;
            float: right;
            position: relative;
        }
    }
}